<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sale.panda.dao.OrderMapper">

    <insert id="insert" parameterType="com.sale.panda.dao.entity.Order">
        insert into `order`
        (
        order_id,
        total_count,
        small_changes,
        total_amount,
        remark,
        creator
        )
        values
        (
        #{orderId},
        #{totalCount},
        #{smallChanges},
        #{totalAmount},
        #{remark},
        #{creator}
        )
    </insert>

    <select id="listOrderByParam" parameterType="com.sale.panda.dao.entity.OrderPageQuery" resultType="com.sale.panda.dao.entity.OrderModel">
        select  o.order_id,
                o.total_count,
                o.small_changes,
                o.total_amount,
                sum(d.count) as refundCount,
                sum(d.amount) as refundAmount,
                o.remark,
                o.creator,
                o.created_time,
                o.updated_time
        from `order` o left join refund d
        on o.order_id = d.order_id
        <where>
            <if test="createdStartTime != null and createdStartTime != ''">
                o.created_time &gt;= #{createdStartTime}
            </if>
            <if test="createdEndTime != null and createdEndTime != ''">
                and o.created_time &lt;= #{createdEndTime}
            </if>
            <if test="remark != null and remark != ''">
                and o.remark like "%"#{remark}"%"
            </if>
            <if test="orderId != null and orderId != ''">
                and o.order_id = #{orderId}
            </if>
        </where>
        GROUP BY o.order_id order by o.created_time desc limit #{offset},#{limit}
    </select>

    <select id="count" parameterType="com.sale.panda.dao.entity.OrderPageQuery" resultType="java.lang.Integer">
        select count(1) from `order` o left join refund d
        on o.order_id = d.order_id
        <where>
            <if test="createdStartTime != null and createdStartTime != ''">
                o.created_time &gt;= #{createdStartTime}
            </if>
            <if test="createdEndTime != null and createdEndTime != ''">
                and o.created_time &lt;= #{createdStartTime}
            </if>
            <if test="remark != null and remark != ''">
                and o.remark like "%"#{remark}"%"
            </if>
            <if test="orderId != null and orderId != ''">
                and o.order_id = #{orderId}
            </if>
        </where>
    </select>

</mapper>