<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sale.panda.dao.RefundMapper">

    <insert id="insert" parameterType="java.util.List">
        insert into refund
        (
        order_id,
        sku_id,
        count,
        amount,
        remark
        )
        values
        <foreach collection="list" item="refund" separator=",">
            (
            #{refund.orderId},
            #{refund.skuId},
            #{refund.count},
            #{refund.amount},
            #{refund.remark}
            )
        </foreach>
    </insert>

    <select id="listRefundByParam" parameterType="com.sale.panda.dao.entity.RefundPageQuery"
            resultType="com.sale.panda.dao.entity.RefundGoods">
        select d.order_id,
        p.spu_id,
        p.spu_name,
        k.size,
        k.color,
        d.count,
        d.amount,
        d.remark,
        d.created_time
        from refund d,sku k,spu p
        where d.sku_id = k.sku_id and k.spu_id = p.spu_id
        <if test="createdStartTime != null and createdStartTime != ''">
            and d.created_time &gt;= #{createdStartTime}
        </if>
        <if test="createdEndTime != null and createdEndTime != ''">
            and d.created_time &lt;= #{createdStartTime}
        </if>
        <if test="orderId !=null and orderId !=''">
            and d.order_id = #{orderId}
        </if>
        <if test="remark !=null and remark !=''">
            and d.remark like "%"#{remark}"%"
        </if>
        order by d.created_time desc limit #{offset},#{limit}
    </select>

    <select id="count" parameterType="com.sale.panda.dao.entity.RefundPageQuery" resultType="java.lang.Integer">
        select count(1) from refund d,sku k,spu p
        where d.sku_id = k.sku_id and k.spu_id = p.spu_id
        <if test="createdStartTime != null and createdStartTime != ''">
            and d.created_time &gt;= #{createdStartTime}
        </if>
        <if test="createdEndTime != null and createdEndTime != ''">
            and d.created_time &lt;= #{createdStartTime}
        </if>
        <if test="orderId !=null and orderId !=''">
            and d.order_id = #{orderId}
        </if>
        <if test="remark !=null and remark !=''">
            and d.remark like "%"#{remark}"%"
        </if>
    </select>

</mapper>