<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sale.panda.dao.SkuMapper">

    <insert id="insert" parameterType="com.sale.panda.dao.entity.Sku">
       insert into sku
       (spu_id,
        size,
        color,
        feature1,
        feature2,
        feature3,
        count)
        VALUES
        (#{spuId},
        #{size},
        #{color},
        #{feature1},
        #{feature2},
        #{feature3},
        #{count})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into sku
        (
            spu_id,
            size,
            color,
            feature1,
            feature2,
            feature3,
            count
        )
        values
        <foreach collection="list" item="good" separator=",">
            (
                #{good.spuId},
                #{good.size},
                #{good.color},
                #{good.feature1},
                #{good.feature2},
                #{good.feature3},
                #{good.count}
            )
        </foreach>
    </insert>
    
    <update id="update" parameterType="com.sale.panda.dao.entity.Sku">
        update sku set updated_time = now()
        <if test=" spuId !=null">
            ,spu_id = #{spuId}
        </if>
        <if test=" size !=null and size !=''">
            ,size = #{size}
        </if>
        <if test=" color !=null and color !=''">
            ,color = #{color}
        </if>
        <if test=" feature1 !=null and feature1 !=''">
            ,feature1 = #{feature1}
        </if>
        <if test=" feature2 !=null and feature2 !=''">
            ,feature2 = #{feature2}
        </if>
        <if test=" feature3 !=null and feature3 !=''">
            ,feature3 = #{feature3}
        </if>
        <if test=" isDeleted !=null">
            ,is_deleted = #{isDeleted}
        </if>
        <if test=" count !=null">
            ,count = count + #{count}
        </if>
        where sku_id =#{skuId};
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update sku set updated_time = NOW()
            <if test=" item.size !=null and item.size !=''">
                ,size = #{item.size}
            </if>
            <if test=" item.color !=null and item.color !=''">
                ,color = #{item.color}
            </if>
            <if test=" item.feature1 !=null and item.feature1 !=''">
                ,feature1 = #{item.feature1}
            </if>
            <if test=" item.feature2 !=null and item.feature2 !=''">
                ,feature2 = #{item.feature2}
            </if>
            <if test=" item.feature3 !=null and item.feature3 !=''">
                ,feature3 = #{item.feature3}
            </if>
            <if test=" item.count !=null">
                ,count = count + #{item.count}
            </if>
            where sku_id =#{item.skuId}
        </foreach>
    </update>

    <select id="pageQuery" parameterType="com.sale.panda.dao.entity.GoodsPageQuery" resultType="com.sale.panda.dao.entity.Goods">
        select
        p.spu_id,
        p.spu_name,
        p.sale_price,
        g.type_name,
        k.size,
        k.color,
        k.count,
        k.feature1,
        k.feature2,
        k.feature3,
        k.created_time,
        k.updated_time
        from spu p,sku k,goods_type g
        where
            p.spu_id = k.spu_id and p.type = g.id and p.is_deleted = 0 and k.is_deleted = 0
            <if test="spuName !=null and spuName != ''">
                and p.spu_name like "%"#{spuName}"%"
            </if>
            <if test="type !=null">
                and p.type = #{type}
            </if>
        limit #{offset},#{limit}
    </select>

    <select id="count" parameterType="com.sale.panda.dao.entity.GoodsPageQuery" resultType="java.lang.Integer">
        select count(1)
        from spu p,sku k,goods_type g
        where
            p.spu_id = k.spu_id and p.type = g.id and p.is_deleted = 0 and k.is_deleted = 0
            <if test="spuName !=null and spuName != ''">
                and p.spu_name like "%"#{spuName}"%"
            </if>
            <if test="type !=null">
                and p.type = #{type}
            </if>
    </select>

    <select id="listGoodsBySpuId" resultType="com.sale.panda.dao.entity.Goods" parameterType="java.lang.Integer">
        select
            p.spu_id,
            k.sku_id,
            p.spu_name,
            p.sale_price,
            p.type,
            g.type_name,
            k.size,
            k.color,
            k.feature1,
            k.feature2,
            k.feature3
        from spu p,sku k,goods_type g
        where
            p.spu_id = k.spu_id and p.type = g.id and p.is_deleted = 0 and k.is_deleted = 0 and p.spu_id = #{spuId}
    </select>

    <update id="subCount" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            update sku set count = count - #{item.count}
            where sku_id = #{item.skuId}
        </foreach>
    </update>
</mapper>