<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sale.panda.dao.SpuMapper">

    <insert id="insert" parameterType="com.sale.panda.dao.entity.Spu">
        insert ignore into spu
        (spu_id,
        spu_name,
        sale_price,
        type)
        VALUES
        (#{spuId},
        #{spuName},
        #{salePrice},
        #{type})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert ignore into spu
        (spu_id,
        spu_name,
        sale_price,
        type)
        VALUES
        <foreach collection="list" item="spu" separator=",">
            (#{spu.spuId},
            #{spu.spuName},
            #{spu.salePrice},
            #{spu.type})
        </foreach>
    </insert>
    
    <update id="update" parameterType="com.sale.panda.dao.entity.Spu">
        update spu set updated_time = now()
        <if test="spuName !=null and spuName != ''">
            ,spu_name = #{spuName}
        </if>
        <if test="salePrice !=null">
            ,sale_price = #{salePrice}
        </if>
        <if test="type !=null">
            ,type = #{type}
        </if>
        <if test="isDeleted !=null">
            ,is_deleted = #{isDeleted}
        </if>
        where spu_id = #{spuId};
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item">
            update spu set updated_time = now()
            <if test="item.spuName !=null and item.spuName != ''">
                ,spu_name = #{item.spuName}
            </if>
            <if test="item.salePrice !=null">
                ,sale_price = #{item.salePrice}
            </if>
            <if test="item.type !=null">
                ,type = #{item.type}
            </if>
            where spu_id = #{item.spuId};
        </foreach>
    </update>

</mapper>