<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sale.panda.dao.UserMapper">

    <select id="getUserByName" resultType="com.sale.panda.dao.entity.LoginUser" parameterType="java.lang.String">
        select user_name,role,password from login_user
        where user_name = #{userName};
    </select>
    
    <insert id="insert" parameterType="com.sale.panda.dao.entity.LoginUser">
        insert into login_user
        (user_name,
        password,
        role)
        VALUES
        (#{user_name},
        #{password},
        #{role})
    </insert>

</mapper>